*{
    margin: 0;
    padding: 0;
}
.background{
    background-color: #000000 ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.menu{
    display: flex;
    justify-content: space-around;
    font-size: 22px;
    padding: 5px;
    list-style: none;
    margin: 5px;
    color: white;
}

.imagem-principal{
    margin-left: 37px;
    padding: 0px;
    display: flex;
}


.colecao{
    display: flex;
    color: #AC9206;
    /* background-image: url("../Imagens-HarryPotter/vector1.png"); */
    width: 1100px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.lancamentos .lancamentos__title{
    color:#AC9206;
    padding: 10px;
    margin: 10px 0px 0px 18px;
    border-bottom: solid 2px #AC9206;
    margin-bottom: 20px;
    width: 280px;
}
.lancamentos .lancamentos__produtos{
    color:#AC9206;
    display:  flex;
    justify-content: space-around;
    
}

.camisetas .camisetas__title{
    color:#AC9206;
    padding: 10px;
    margin: 10px 0px 0px 18px;
    border-bottom: solid 2px #AC9206;
    margin-bottom: 20px;
    width: 280px;
}

.camisetas .camisetas__produtos{
    color:#AC9206;
    display:  flex;
    justify-content: space-around;
}

.canecas .canecas__title{
    color:#AC9206;
    padding: 10px;
    margin: 10px 0px 0px 18px;
    border-bottom: solid 2px #AC9206;
    margin-bottom: 20px;
    width: 280px;
}
.canecas  .canecas__produtos{
    color:#AC9206;
    display:  flex;
    justify-content: space-around;
}

.acessorios .acessorios__title{
    color:#AC9206;
    padding: 10px;
    margin: 10px 0px 0px 18px;
    border-bottom: solid 2px #AC9206;
    margin-bottom: 20px;
    width: 280px;
}
.acessorios .acessorios__produtos{
    color:#AC9206;
    display:  flex;
    justify-content: space-around;
}


.variedades .variedades__title{
    color:#AC9206;
    padding: 10px;
    margin: 10px 0px 0px 18px;
    border-bottom: solid 2px #AC9206;
    margin-bottom: 20px;
    width: 280px;
}
.variedades .variedades__produtos{
    color:#AC9206;
    display:  flex;
    justify-content: space-around;
}


.comprar{
    color: #AC9206;
    background-color: #1E293B;
    width: 120px;
    height: 35px;
    text-align: center;
    border-radius: 5px;
   
   
    
    
}
button{
    list-style: none;
    margin-left: 175px !important;
    
}

.preco{
    color: white;
}
.caixa-produto{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 310px;
    height: 590px;
    border: 2px solid #AC9206;
    margin: 20px;
    text-align: center;
    padding-top: 4px;
    justify-content: space-around;
}

.menu-inferior{
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    padding: 5px;
    align-items: center;
    list-style: none;
    margin: 5px;
    color: white;
}

